<%= javascript_include_tag 'bills-sponsored' %>

<div id='wrapper'>
  <%= @member.full_name %>
  <%= "(#{@member.party} - #{@member.state})" %>
  <p><%= @member.chamber %></p>
  <p>In office <%= time_ago_in_words(@member.tenure.min) %></p>
  <p>Current salary: <%= number_to_currency(@member.salary, precision: 0) %></p>

  <div id='result'>
    <div>
      <%= image_tag("https://www.govtrack.us/data/photos/#{@member.photo}") %>
    </div>

    <div id="graphs">
      <ul>
        <li class="block" id="bills-sponsored-graph">
        </li>

        <li class="block">
        <%= image_tag("mocks/bills_co_sponsored.png", alt: "GRAPH OF BILLS CO-SPONSORED") %>
        </li>

        <li class="block">
        <%= image_tag("mocks/amendments_sponsored.png", alt: "GRAPH OF AMENDMENTS SPONSORED") %>
        </li>

        <li class="block">
        <%= image_tag("mocks/became_law.png", alt: "GRAPH OF BILLS PASSED") %>
        </li>
      </ul>
    </div>
  </div>
</div>
