<div id='wrapper'>

  <div id='result'>
    <div>
      <%= image_tag(@member.photo_url) %>
      <span data-role="member-name"><%= @member.full_name %></span>
      <%= "(#{@member.party} - #{@member.state})" %>
      <p><%= @member.chamber %></p>
      <p>In office <%= time_ago_in_words(@member.start_date.min) %></p>
      <p>Current salary: <%= number_to_currency(@member.salary, precision: 0) %></p>
      <p>Cumulative salary: <%= number_to_currency(@member.cumulative_senator_salary, precision: 0) %>
    </div>

    <div id="graphs">
      <ul>
        <li class="block" id="bills-sponsored-graph"></li>
        <li class="block" id="bills-cosponsored-graph"></li>
        <li class="block" id="amendments-sponsored-graph"></li>
        <li class="block" id="amendments-cosponsored-graph"></li>
      </ul>
    </div>
  </div>
</div>
